<form [formGroup]="ngForm" (ngSubmit)="submitForm($event, ngForm.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1"
           aria-describedby="emailHelp" placeholder="Enter email">
    <small
      *ngIf="ngForm.controls['email'].hasError('required') && ngForm.controls['email'].touched"
      class="form-error-msg"> Email is required </small>
    <small class="form-error-msg"
           *ngIf="ngForm.controls['email'].hasError('email') && (ngForm.controls['email'].touched)">
      This field must be a valid email address
    </small>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1"
           placeholder="Password">
    <small
      *ngIf="ngForm.controls['password'].hasError('required') && ngForm.controls['password'].touched"
      class="form-error-msg"> Email is required </small>
    <small class="form-error-msg"
           *ngIf="ngForm.controls['password'].hasError('minlength') && (ngForm.controls['password'].touched)">
      Password must be 6 digits
    </small>
  </div>
  <button [disabled]="ngForm.invalid" class="btn btn-primary">Submit</button>
</form>
